{% extends "adminTemplate.html" %}
{% block content %}
    <!-- checked on w3c validator, error free -->


<body>
        <div class="container complete_form_container">

            <div class="row">
            <div class="col-sm-2 col-sm-offset-5">
                <button type="button" class="btn btn-info hidden-print" onclick="window.print()"><span class="glyphicon glyphicon-print"></span> Print This Page</button>
            </div>
            </div>

            <div class="row logos hidden-print">
                <div class="col-lg-3">
                    <img  src="../static/images/sds_logo.png" alt="Skills Development Scotland Logo">
                </div>
                <div class="col-lg-3 col-lg-offset-4">
                    <img class="eu_logo" src="../static/images/europe_scotland_funding.png"
                alt= "European and Scotland Funded">
                </div>
            </div>
            
            <h2 class="header_no_bg">Graduate Apprenticeships</h2>
            <h2 class="header_no_bg">Equality Monitoring Form</h2>

            <h3>Note to Learning Providers:</h3>

            <p>Please read the document for learning providers on how to use the Equality Monitoring Form”.</p>
                    
            <h3>This form must be printed out and completed by the participant.</h3>
            
            <p>You must ensure that:</p>

            <ul>
                <li>All sections of this SDS Graduate Apprenticeship Equality Monitoring Form are given to 
                    the participant before asking the participant any of the questions in Sections A and B</li>
                <li>The participant completes section A</li>
                <li>The learning provider returns Section A to SDS</li>
                <li>The participant reads and signs the form in Section B</li>
                <li>The learning provider returns the  completed Section B to SDS</li>
            </ul>

            <h3>Section A of this form must be securely disposed of immediately once the information has been 
                sent to Skills Development Scotland. </h3>

            <p>Section B must be retained at all times by the learning provider for inspection, and disposed 
                of in accordance with such other instructions as SDS shall provide.</p>

            <!-- Section A begins-->
            
            <h3 class="teal">Section A</h3>

            <h3>SDS Privacy Notice</h3>

            <p>The Skills Development Scotland Co Ltd (“SDS”, “we” or “us”) is the national skills body supporting 
                the people and businesses of Scotland to develop and apply their skills.</p>

            <h3>The Graduate Apprenticeship Project</h3>

            <p>The Graduate Apprenticeship project (“GA Project”) is a project funded by SDS to support the training 
                of individuals (“participants”, “you” or ”your”), and which is operated and delivered by Universities, 
                Colleges or other educational or training providers (“training partners”) and funded through SDS by 
                the Scottish Government and the European Social Fund.</p>

            <p>SDS does not operate or deliver the GA Project, but we do assist the Scottish Government monitor and 
                report on its delivery, quality and outcomes, as well as assisting in the monitoring of equalities data.</p>

            <p>In doing so, SDS will collect and process the information about you. SDS has set out details of how SDS 
                will use your personal data in SDS’s Graduate Apprentice Privacy Notice. Your training provider must 
                provide you with a copy of the Privacy Notice and give you an opportunity to read it, before you complete 
                and sign this form. </p>

            <h3 class="spaced">Please tick the University or College you are registered with</h3>

            <table class="table table-responsive table-bordered">
                <tbody>
                    <tr>
                        <td class="opt">Edinburgh Napier University</td>
                        <td class="tick_select">X</td>
                        <td class="opt">Robert Gordon University</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td class="opt">Glasgow Caledonian University</td>
                        <td class="tick"></td>
                        <td class="opt">University of Dundee</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td class="opt">Glasgow Kelvin College</td>
                        <td class="tick"></td>
                        <td class="opt">University of Glasgow</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td class="opt">Heriot Watt University</td>
                        <td class="tick"></td>
                        <td class="opt">University of Strathclyde</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td class="opt">Open University</td>
                        <td class="tick"></td>
                        <td class="opt">University of the Highlands and Islands</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td class="opt">Queen Margaret University</td>
                        <td class="tick"></td>
                        <td class="opt">University of the West of Scotland </td>
                        <td class="tick"></td>
                    </tr>
                </tbody>
            </table>

            <h3 class="spaced">Please tick the course you are registered on</h3>
            
            <table class="table table-responsive table-bordered">
                <tbody>
                    <tr>
                        <td class="opt">Construction and the Built Environment</td>
                        <td class="tick"></td>
                        <td class="opt">IT: Management for Business</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td class="opt">Civil Engineering (SCQF 8)</td>
                        <td class="tick"></td>
                        <td class="opt">IT: Software Development</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td class="opt">Civil Engineering (SCQF 8)</td>
                        <td class="tick"></td>
                        <td class="opt">Cyber Security (SCQF 10)</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td class="opt">Engineering: Design and Manufacture</td>
                        <td class="tick"></td>
                        <td class="opt">Cyber Security (SCQF 11)</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td class="opt">Engineering: Instrumentation, Measurement and Control</td>
                        <td class="tick"></td>
                        <td class="opt">Business Management</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td class="opt">Business Management: Financial Services</td>
                        <td class="tick"></td>
                        <td class="opt"></td>
                        <td class="tick opt"></td>
                    </tr>
                </tbody>
            </table>

            <h3 class="spaced">Please complete the following table</h3>

            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th class="centred">Course Start Date</th>
                        <th class="centred">Apprenticeship Entry Level<br>(Year 1, Year 3 etc)</th>
                        <th class="centred">Length of Programme<br>(2 years etc)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="centred">Placeholder Start Date</td>
                        <td class="centred">Placeholder Entry Level</td>
                        <td class="centred">Placeholder Lenghth</td>
                    </tr>
                </tbody>
            </table>
            
            <h3 class="spaced">1. Ethnic Group</h3>

            <p>Please read the list below and tick the box that most closely describes you.</p>

            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th class="white_bg">White</th>
                    </tr>
                </thead>
            </table>
            <table class="table table-responsive table-bordered">
                <tbody>
                    <tr>
                        <td>Scottish</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Other British</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Irish</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>White background</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Ethnic background</td>
                        <td class="tick"></td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th class="white_bg">Asian, includes Asian Scottish and Asian British</th>
                    </tr>
                </thead>
            </table>
            <table class="table table-responsive table-bordered">
                <tbody>
                    <tr>
                        <td>Pakistani</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Indian</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Bangladeshi </td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Chinese</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Other Asian Background</td>
                        <td class="tick"></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th class="white_bg">Black, includes Black Scottish & Black British</th>
                    </tr>
                </thead>
            </table>
            <table class="table table-responsive table-bordered">
                <tbody>
                    <tr>
                        <td>African</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Caribbean</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Other black background</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td class="bold">Other ethnic background</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td class="bold">Prefer not to say</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td class="bold">Not known</td>
                        <td class="tick"></td>
                    </tr>
                </tbody>
            </table>

            <h3>2. Religion or Belief</h3>

            <p>Please indicate your religion or belief from the following options</p>

            <table class="table table-responsive table-bordered">
                <tbody>
                    <tr>
                        <td>None</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Church of Scotland</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Roman Catholic</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Other Christian</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Muslim</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Buddhist</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Sikh</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Jewish</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Hindu</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Pagan</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Other</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Prefer not to say</td>
                        <td class="tick"></td>
                    </tr>
                </tbody>
            </table>

            <h3>3. Transgender</h3>

            <p>Have you ever identified as transgender?</p>

            <table class="table table-responsive table-bordered">
                <tbody>
                    <tr>
                        <td>Yes</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>No</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Prefer not to say</td>
                        <td class="tick"></td>
                    </tr>
                </tbody>
            </table>

            <h3>4. Sexual Orientation</h3>

            <p>Do you consider yourself to be?</p>
            
            <table class="table table-responsive table-bordered">
                <tbody>
                    <tr>
                        <td>Heterosexual/ Straight</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Gay/ Lesbian</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Bisexual</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Other</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Prefer not to say</td>
                        <td class="tick"></td>
                    </tr>
                </tbody>
            </table>

            <h3>5. Care Experience</h3>

            <p>Have you ever been in care?*</p>

            <table class="table table-responsive table-bordered">
                <tbody>
                    <tr>
                        <td>Yes</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>No</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Prefer not to say</td>
                        <td class="tick"></td>
                    </tr>
                </tbody>
            </table>
            <p><br>* In care means you are or were formally looked after by a local authority, in the family home 
                (with support from social services or a social worker) or elsewhere, for example, in foster care, 
                residential/secure care, or kinship care (with family friends or relatives).</p>
            
            <!-- Section A ends -->


            <!-- Section B begins-->
        
            <h3 class="teal">Section B</h3>

            <h3>1. Gender</h3>

            <table class="table table-responsive table-bordered">
                <tbody>
                    <tr>
                        <td>Male</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Female</td>
                        <td class="tick"></td>
                    </tr>
                </tbody>
            </table>
            <h3>2. Disability</h3>

            <p>The information you provide in this section will help us provide an inclusive environment for disabled people, 
                by identifying and removing barriers in our practices.</p>
            
            <p class="spaced">1. Do you have an impairment, health condition or learning difficulty?* </p>

            <table class="table table-responsive table-bordered">
                <tbody>
                    <tr>
                        <td>Yes</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>No</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Prefer not to say</td>
                        <td class="tick"></td>
                    </tr>
                </tbody>
            </table>
            <p>*lasting or expected to last 12 months or more</p>

            <p class="spaced">2. If you have an impairment, health condition or learning difficulty, please select all those on the list that apply.</p>

            <table class="table table-responsive table-bordered">
                <tbody>
                    <tr>
                        <td>You have a social/communication impairment such as a speech and language impairment or Asperger’s 
                            syndrome/other autistic spectrum disorder, or cognitive impairment</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>You are blind or have a visual impairment uncorrected by glasses</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>You are deaf or have a hearing impairment</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>You have a long standing illness or health condition such as cancer, HIV, diabetes, chronic heart 
                            disease, or epilepsy</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>You have a mental health difficulty, such as depression, schizophrenia or anxiety disorder</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>You have a specific learning difficulty such as dyslexia, dyspraxia or AD(H)D</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>You have a physical impairment or mobility issues, such as difficulty using your arms or using a 
                            wheelchair or crutches</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>You have a disability, impairment or medical condition that is not listed above</td>
                        <td class="tick"></td>
                    </tr>
                    <tr>
                        <td>Prefer not to say</td>
                        <td class="tick"></td>
                    </tr>
                </tbody>
            </table>
            <!--End section B-->

            <h3 class="spaced">Please tick the box</h3>

            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th class="white_bg"></th>
                        <th class="tick white_bg lighter_header">Tick applicable box</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>I have been shown a copy of the SDS Graduate Apprenticeship Privacy Notice, and acknowledge its contents</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <h3 class="spaced">Learning Provider to ensure that:</h3>

            <ul>
                <li>the Participant has been given a copy of the SDS Graduate Apprenticeship Privacy Notice currently in force, and an 
                    opportunity to read it before being asked to complete and sign this form.</li>
                <li>The Participant reads and signs the form in Section B.</li>
                <li>The Participant has ticked the box confirming that he/she has shown a copy of the SDS Graduate Apprenticeship 
                    Privacy Notice, and has acknowledged its contents. </li>
                <li>The completed and signed section B is retained at all times by the Learning Provider for inspection, and</li>
                <li>Section A is securely disposed of as soon as copies of the Participant’s responses in Sections A and B have been 
                    sent to SDS.</li>
            </ul>
            
            <p>Please note that  an individual must not be registered as a participant on the programme until the form has been 
                completed fully in accordance with these instructions.</p>
            
            <table class="table table-responsive table-bordered">
                <tbody>
                    <tr>
                        <td class="bold">Apprentice Signature</td>
                        <td class="seventy"></td>
                    </tr>
                    <tr>
                        <td class="bold">Apprentice Name</td>
                        <td class="seventy"></td>
                    </tr>
                    <tr>
                        <td class="bold">Date</td>
                        <td class="seventy"></td>
                    </tr>
                </tbody>
            </table>

            <p class="bold spaced centred">Thank you for completing this form</p>

            

        </div><!-- close container -->                         
{% endblock %}
