{% extends "template.html" %}
{% block content %}
	<div class ="container">

		<div class="row top">
			<div class="col-sm-6">
				<a class="breadcrumbs" href="https://www.napier.ac.uk">Home </a><span class="glyphicon glyphicon-play"></span>

				<a class="breadcrumbs" href="https://www.napier.ac.uk/study-with-us"> Study with us </a><span class="glyphicon glyphicon-play"></span>

				<a class="breadcrumbs" href="https://www.napier.ac.uk/study-with-us/apprenticeships"> Graduate Apprenticeship </a><span class="glyphicon glyphicon-play"></span>

				<a class="breadcrumbs" href="#"><!-- this actually stays as '#' --> Become an Apprentice</a>
			</div>

			<div class="col-sm-3 right">
			<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.napier.ac.uk:443/study-with-us/apprenticeships/become-an-apprentice">
				<img class="share_icon" src="../static/images/fbLogo.png" alt="facebook share icon">
			</a>

			<a href="https://twitter.com/intent/tweet?url=https://www.napier.ac.uk:443/study-with-us/apprenticeships/become-an-apprentice">
				<img class="share_icon" src="../static/images/twitterLogo.png" alt="twitter share icon">
			</a>

			<a href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fwww.napier.ac.uk%3A443%2Fstudy-with-us%2Fapprenticeships%2Fbecome-an-apprentice">
				<img class="share_icon" src="../static/images/lnLogo.png" alt="linkedin share icon">
			</a>

			<a href="mailto:ga@napier.ac.uk.?subject=apprenticeshipscheme">
				<img class="share_icon" src="../static/images/mailLogo.png" alt="mail share icon">
			</a>
			</div>
		</div>


		<h3>A Graduate Apprenticeship helps you build the skills and knowledge sought after by Scottish industries.
			You'll work, get paid, and achieve a University Degree.
		</h3>

		<p>As a GA you'll spend most of your time learning on the job, but will receive mentorship from both the university
			and your employer. You will also be a fully matriculated student, benefiting from full access to our learning facilities
			both online and on campus.
		</p>
		<div class="iframe-container">
			<iframe src="https://www.youtube.com/embed/WA76lGcnC8A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
		 allowfullscreen="allowfullscreen"></iframe>
		</div>

		<p><a href="register">Register</a> for a Graduate Apprenticeship. Programmes available are:</p>
			<ul>
				<li>Business Management</li>

				<li>Civil Engineering</li>

				<li>Construction and Built Environment</li>

				<li>Cybersecurity</li>

				<li>Software Development</li>

				<li>IT Management for Business</li>
			</ul>
		<h3>How does it work?</h3>

		<p>Intake for our Graduate Apprenticeships is in September and the application deadline is subject to availability (contact to enquire).</p>
		<p>While on the GA you spend 80% of your time in work and 20% in university lectures and tutorials. As you progress through the apprenticeship,
			more of your job role is used to gain credits for your degree. The blend between work and learning means you get your degree in a maximum
			of 4 years, the same as an on-campus course.</p>
		<p>You will be supported through mentorship from both the university and your employer to advise on all aspects of study and work. Regular
			progress meetings are also held between you, your employer and the university.</p>
		<p>Assessments are through a mixture of class tests, exams, reports and individual & group projects, all while blending work and learning
			as much as possible.</p>
		<p>You can apply directly through the Apprenticeships Scotland website for the latest vacancies. If you are already employed, get in touch
			with the Graduate Apprenticeship team at Edinburgh Napier and we can discuss options with you and your employer.</p>
		<p>Note: All applicants are subject to eligibility checks, and must provide proof of date of birth, residency and employment upon application.</p>

		<p>For more information, you can read through our <a href="https://www.napier.ac.uk/~/media/documents/soc/information-for-apprentices-(002).pdf?la=en">
		“Information for Apprentices”</a> handbook, search and apply for <a href="https://www.apprenticeships.scot/become-an-apprentice/graduate-apprenticeships/">
			live vacancies</a> or feel free to get in touch with our team <a href="mailto:ga@napier.ac.uk.?subject=apprenticeshipscheme">ga@napier.ac.uk</a></p>
		</p>

			<div class="row gray">
				<a href="register"><button class="btn btn-danger">Register</button></a>
			</div>
			<div class="row gray">
				<button type="button" class="btn btn-danger btn-md">
					<a href="https://www.napier.ac.uk/~/media/documents/soc/information-for-apprentices-(002).pdf?la=en">
						<span class="glyphicon glyphicon-download-alt"></span>
					</a>
				</button>
				<p>Information for Apprenticeships</p>
				<p>222.7kb</p>
			</div>
	</div>


{% endblock %}
