{% extends "adminTemplate.html" %}
{% block content %}

    <!-- checked on w3c validator, only errors due to replicating original document styles, due to legal nature do not wish to change this -->

<body>
    <button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>
        <div class="container complete_form_container">


            <div class="row">
                <div class="col-sm-2 col-sm-offset-5">
                    <button type="button" class="btn btn-info hidden-print" onclick="window.print()"><span class="glyphicon glyphicon-print"></span> Print This Page</button>
                </div>
            </div>

            <h2>Graduate Apprenticeship Privacy Notice</h2>

            <h3>Privacy Notice</h3>

            <h3>Who are we?</h3>

            <p>The Skills Development Scotland Co Ltd (“SDS”, “we” or “us”) is the national skills body supporting the people and 
                businesses of Scotland to develop and apply their skills.</p>
            
            <h3>The Graduate Apprenticeship Project </h3>

            <p>The Graduate Apprenticeship project (“GA Project”) is a project funded by SDS to support the learning of individuals 
                (“participants”, “you” or ”your”), and which is operated and delivered by Universities, Colleges or other educational 
                or training providers (“training partners”) and funded through SDS by the Scottish Government and the European Social 
                Fund.</p>
            
            <p>SDS does not operate or deliver the GA Project, but we do assist the Scottish Government monitor and report on its 
                delivery, quality and outcomes, as well as assisting in the monitoring of equalities data. </p>
            
            <p>In doing so, the information SDS obtains about you will be processed in the following way:-</p>

            <ul>
                <li>
                    <h3>Information we collect and use</h3>
                </li>
                <p>We will collect and process the following personal information:-</p>
                <ul>
                    <li>
                    information that you provide about you and your personal circumstances, which shall include among other things, 
                    information you provide about yourself in any registration form, SDS equalities monitoring form 
                    </li>
                    <li>
                    information about your Graduate Apprenticeship including among other things, details of your achievements and 
                    progress, your records of work and portfolios relating to your learning and subsequent progression and outcomes 
                    from your learning; 
                    </li>
                </ul>
                <li>
                    <h3>Sources of information</h3>
                </li>
                <p>SDS will receive the above information from one or more of the following sources:-</p>
                <ul>
                    <li>
                    from you directly 
                    </li>
                    <li>
                    from your learning provider; 
                    </li>
                    <li>
                    from your employer  
                    </li>
                </ul>
                <li>
                    <h3>Organisations we may pass your information to </h3>
                </li>
                <ul>
                    <li>
                    The information collected shall be held by us or on our behalf and may be passed by us to other public bodies 
                    concerned with one or more of the following:-  
                        <ul>
                            <li>economic development</li>
                            <li>skills development </li>
                            <li>awards for vocational qualifications </li>
                        </ul>
                    </li>
                </ul>
            </ul>
            
            <p>Financial Year 2018/19</p>

            <h3>Graduate Apprenticeship Privacy Notice</h3>
            <ul>
                <li>maintaining educational standards </li>
                <li>the provision of other public services or</li>
                <li>our internal/external auditors in each case, to the extent required to fulfil their respective public functions, 
                    either independently or on behalf of SDS</li>
            </ul>
            <p>The information you provide to us about your gender and disability in the Equality Monitoring Form will be passed to 
                Scottish Government as a requirement of the European Social Fund provisions. The remaining information provided in 
                the Equality Monitoring Form may be passed to any of the bodies identified above, but only in an anonymised form.</p>
            <ul>
                <li>
                    <h3>Legal Bases for processing the information</h3>
                </li>
            </ul>    

            <h3>SDS and these other organisations that may receive the information from us may use the information for one or more of 
                the following purposes:-</h3>
            <p>Financial Year 2018/19</p>
            <h3>SDS is entitled to process the information as the intended processing is:-</h3>
            <p>i to monitor our compliance with the conditions of funding related to the GA Project and to ensure that we are properly 
                spending and are accountable for those monies;</p>
            <p>fair and lawful because the intended processing is one or more of the following:-</p>
            <ul>
                <li>necessary for SDS to comply with its legal obligations</li>
                <li>necessary for reasons of the public interest</li>
                <li>necessary for reasons of substantial public interest</li>
            </ul>
            <p>ii to monitor, audit and evaluate the quality of your individual learning and the GA Project generally. (Evaluating may 
                include requesting you to complete any questionnaire issued by or on behalf of SDS and/or Scottish Ministers);</p> 
            <p>fair and lawful because the intended processing is one or more of the following:-</p>
            <ul>
                <li>necessary for SDS to comply with its legal obligations</li>
                <li>necessary for reasons of the public interest</li>
            </ul>
            <p>iii to monitor your learning provider’s compliance with its competitive funding obligations including monitoring your 
                learning provider’s learning quality standards and compliance, and validating their claims for payment;</p>
            <p>fair and lawful because the intended processing is one or more of the following:-</p>
            <ul>
                <li>necessary for SDS to comply with its legal obligations</li>
                <li>necessary for reasons of the public interest</li>
            </ul>
            <p>iv to provide information to you about working life, fair work practices and the services and benefits you can access 
                from SDS and other public sector or government bodies in Scotland and/or the UK;</p>
            <p>fair and lawful because the intended processing is necessary for the purposes of legitimate interests.</p>
            
            <h3>Graduate Apprenticeship Privacy Notice </h3>
            <p>v to carry out equalities monitoring and to ensure equality of access to our programmes;</p>
            <p>fair and lawful because the intended processing is one or more of the following:-</p>
            <ul>
                <li>necessary for SDS to comply with its legal obligations</li>
                <li>necessary for reasons of substantial public interest</li>
            </ul>
            <p>vi to monitor and evaluate the learning against applicable educational standards;</p>
            <p>fair and lawful because the intended processing is one or more of the following:-</p>
            <ul>
                <li>necessary for SDS to comply with its legal obligations</li>
                <li>necessary for reasons of the public interest</li>
                <li>necessary for reasons of substantial public interest </li>
            </ul>
            <p>vii to undertake statistical research regarding the value and impact of the GA Project and to assist with policy development.</p>
            <p>fair and lawful because the intended processing is one or more of the following:- </p>
            <ul>
                <li>necessary for SDS to comply with its legal obligations</li>
                <li>necessary for reasons of the public interest </li>
                <li>necessary for reasons of substantial public interest </li>
            </ul>

            <h3>Graduate Apprenticeship Privacy Notice </h3>
            <p>1. Please note that SDS or its agents may contact you as a participant in the GA Project from time to time by telephone, 
                post, text or email or indeed arrange to meet with you directly to discuss matters associated with the provision of your 
                learning for the purposes of quality monitoring, learningprovider compliance with its funding obligations and quality 
                assurance, validating learning providers’ claims for payment and/or measuring outcomes.</p>

            <p>2. Once you have been verified as a participant under the GA Project by your learningprovider, your personal data submitted 
                to SDS through any of the sources identified above will be retained by SDS from the date it is provided until the later of:-</p>
            <p>a. 31 December 2022, or b. the date occuring two years after the year end in which SDS submits its final accounts to Scottish Government for the whole graduate apprentice programme funded by Scottish Government. (Therefore, if the final 
                accounts are submitted in September 2021, the date will be 31st December 2023). </p>

            <p>3. SDS will become the ‘data controller’ in respect of all of the personal data in the information collected by or given to SDS 
                under the GA Project. If you require any information regarding your personal data, please contact us at 
                <a href="mailto:dpo@sds.co.uk">dpo@sds.co.uk </a>or such alternative address as SDS may advise from time to time</p>

            <p>4. We identified the organisations we may pass your personal data to earlier in this Privacy Notice. Where any of the 
                information is provided to any of these organisations, that body shall become the Data Controller in respect of the 
                information we have passed to it. Your learningprovider will also be a ‘data controller’ in respect of your personal 
                information. We recommend you review any privacy notice issued by any of these organisations in relation to their respective 
                uses of your personal information. </p>

            <p>5. If SDS make changes to this Privacy Notice we will post them on our website and, where appropriate, we will notify you by email. 
                Please check back frequently to see any updates of changes to this Privacy Notice. </p>

            <p>6. Under the General Data Protection Regulation that comes into force from 25th May 2018, you are given more power and control 
                over how your personal information is handled and understanding what happens with it. You have a number of rights under the new 
                law – you have the right to be informed about what we use your personal information for, which is why we provide you with this 
                kind of notice. More than that, you can request to access the personal information we hold on you, request to have your personal 
                information updated, changed or deleted, and you can also get in touch with us if you have an objection to something we use your 
                personal information for (for one of the reasons outlined in this notice). For more information about your rights under the Data 
                Protection Act 1998 or, from 25 May 2018, the General Data Protection Regulation 2016 please see <a target="blank" 
                href="https://www.skillsdevelopmentscotland.co.uk/about/policies/privacy">Skils Development Scotland Privacy Policy</a> or the 
                UK Information Commissioner’s website at <a target="blank" href="https://ico.org.uk/">www.ico.org.uk</a></p>

            <p>7. If you have any queries relating to anything in this form or anything relating to the use of your personal information, or how
                 to go about enacting your rights relating to your personal information, please contact our Data Protection Officer at 
                 <a href="mailto:dpo@sds.co.uk">dpo@sds.co.uk </a>. Further, if you wish, you have the right to lodge a complaint with the ICO 
                 – please visit their website at <a target="blank" href="https://ico.org.uk/">www.ico.org.uk</a> for more details on contacting them.</p>

            <p class="spaced">Dated: 30/05/2018</p>
        </div><!-- close container -->                         
        <script>
                //As ts and cs are soooo long, this button brings user back to top and navigation //
                window.onscroll = function() {scrollFunction()};
                
                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("topBtn").style.display = "block";
                    } else {
                        document.getElementById("topBtn").style.display = "none";
                    }
                }
                
                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0; // For Safari
                    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                }
                </script>
                
                {% endblock %}



